registry=https://registry.npmjs.org
@nara:registry=http://35.221.123.58:80/repository/npm-private/
@nara.drama:registry=http://35.221.123.58:80/repository/npm-private/

//35.221.123.58:80/repository/npm-private/:_authToken=NpmToken.08602bf1-0ed1-3ddc-93d8-bfe8fcf8c271

strict-ssl=false
always-auth=false
network-timeout=100000
